.gradient-background{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #000000 , #416D19);
}
.line-color{
    -fx-background-color: #F6F5F5;
}

.container{
    -fx-background-color:rgba(255,255,255,0.2);
    -fx-background-radius: 10;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
}
.button-container-mouse-moved:hover{
    -fx-background-color: rgba(255,255,255,0.1);}

.text-field{
    -fx-font-family: "Quicksand";
    -fx-font-size: 18;
    -fx-padding: 1,1,1,1;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border: gone;
    -fx-background-color: transparent;
    -fx-text-fill: grey;
}
.text-area .content{
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-border-color: grey;
    -fx-font-family: "Quicksand";
    -fx-font-size: 18;
    -fx-padding: 1,1,1,1;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border: gone;
    -fx-text-fill: grey;

}
.disabled-label:disabled {
    -fx-background-color: rgb(252,252,252);
    -fx-opacity: 1;
}